@verikami:registry=https://npm.pkg.github.com
@jsr:registry=https://npm.jsr.io
; registry=https://registry.npmjs.org/
; always-auth=true

#: from oryginal module (v4)
; public-hoist-pattern[]=unist-util-visit
